*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fbe9e7;
}

.menu{
    position: relative;
    background-color: white;
    width: 32%;
    height: 600px;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    box-shadow: 10px 20px 40px rgba(0,0,0,0.25);
    transition: 1s;
}

.menu .details{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.menu .imgBox{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 3;
    transform-origin: left;
    transform-style: preserve-3d;
    background-color: black;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu .imgBox h4{
    color: #f1c760;
    font-size: 4rem;
    z-index: -1;
    transform: rotateY(180deg);
}

/* Trigger menu open animation */

.menu:hover{
    transform: translateX(50%);
}

.menu:hover .imgBox{
    transform: rotateY(-180deg);
    border-left: 0.4px solid #f1c760;
}

.menu .imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    transform-style: preserve-3d;
    backface-visibility: hidden;  /* on rotation will hide image on backside and show background color only */
}

.menu .imgBox img:nth-child(2){
    z-index: -2;
    transform: rotateY(180deg);
}


.content{
    background:url(../images/Menu\ G....jpg);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

/* menu custom scrollbar */
.content::-webkit-scrollbar{
    width: 1vw;
    border-radius: 50%;
}
.content::-webkit-scrollbar-thumb{
    background-color: #f1c86077;
}
.content::-webkit-scrollbar-track{
    background-color: rgba(17, 16, 16, 0.548);
}
.content::-webkit-scrollbar-thumb:hover{
    background-color: #f1c760;
}

.content h4{
    text-align: center;
    color: #f1c760;
    padding: 1rem;
    display: flex;
    z-index: 0;
    justify-content: center;
}

.content h4 span{
    position: relative;
    font-size: 2rem;
}

.content h4 span::before{
   content: '';
   position: absolute;
   bottom: -15%;
   left: 0%;
   height: 2px;
   width: 0%;
   background-color:#f1c760;
   transition: width 500ms;
}

.content span:hover::before{
    width: 100%;
}

.content ul{
  margin: 0px;
  padding: 0px;   
  list-style: none;
}

.content ul li{
    color: #f1c760;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0rem;
    transform: scale(0.9,0.9);
    transition: transform 300ms;
}

.content ul li p{
    display: flex;
    width: 76%;
    padding-left: 0.4rem;
}

.content ul li:hover{
    transform: scale(1,1);
}

.content ul li p::before{
    content: "";
    border-color: transparent #f1c760;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0px;
    width: 12px;
    position: relative;
    z-index: 2;
}